.main {
  margin: 0rem;
  display: flex;
  flex-direction: row;
}

.title {
  width: 40%;
  display: flex;
  flex-direction: column;
  min-height: 44.1rem;
  padding: 0.1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 10rem rgb(242 65 80 / 20%), 0rem 1rem 3rem rgb(242 65 80 / 70%);
  border-radius: 5px;
  background-color: #F24150;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 3.5rem;
  margin: 0rem;
}

.content{
  width: 65%;
  display: flex;
  font-family: 'Rubik', sans-serif;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0.02rem;
  height: 6rem;
}